<div class="row">
  <aside class="col-xs-12 col-sm-4 col-md-4 left-menu">
    <section class="user_info">
        <%= render 'shared/user_info' %>
    </section>

    <hr>
 <section class="stats">
        <%= render 'shared/trainings_info' %>
    </section>
        <hr>
    <section class="stats">
        <%= render 'shared/stats' %>
    </section>
    <hr>
     <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
  </aside>
  <div class="col-xs-12 col-sm-8 col-md-8">
    <div class="row up-margin">
        <div class="col-xs-6 col-sm-6 col-md-4 down-margin-small">
         <%= image_tag "logged_home/plan.jpg", :alt => "Personar trainer", :class => "featurette-image img-responsive img-rounded down-margin-small", :style => "width: 100%;" %>
          <button type="button" class="btn btn-success btn-lg btn-block">Workouts</button>
        </div>

           <div class="col-xs-6 col-sm-6 col-md-4 down-margin-small">
          <%= image_tag "logged_home/challenge.jpg", :alt => "Personar trainer", :class => "featurette-image img-responsive img-rounded down-margin-small", :style => "width: 100%;" %>
           <button type="button" class="btn btn-warning btn-lg btn-block">Challenges</button>
        </div>

           <div class="col-xs-6 col-sm-6 col-md-4 down-margin-small">
          <%= image_tag "logged_home/achievement.jpg", :alt => "Personar trainer", :class => "featurette-image img-responsive img-rounded down-margin-small", :style => "width: 100%;" %>
          <button type="button" class="btn btn-danger btn-lg btn-block">Achievements</button>
        </div>
    </div>       
    <h3>News</h3>
    <%= render 'shared/feed' %>
  </div>
</div>