
<% @user ||= current_user %>
<div class="row no-margins">
   <aside class="col-xs-6 col-md-6"><center>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a> </center>

</aside>
   <aside class="col-xs-6 col-md-6"><center>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
   
  </a> </center>
</aside>
</div>

<div class="row no-margins">
   <aside class="col-xs-6 col-md-6"><center>

<div class="user_avatars">
          <% @user.following.limit(3).each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>

 </center>
  </aside>
   <aside class="col-xs-6 col-md-6">
    <center>

<div class="user_avatars">
          <% @user.followers.limit(3).each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>

  </center>
</aside>
</div>